@use "./reset";
@use "./variables";
@use "./global";
@use "./data";

// blocks
@use "./blocks/cities";
@use "./blocks/clock";
@use "./blocks/sites";
@use "./blocks/translate";
@use "./blocks/links";
@use "./blocks/search";

/* Основной контент */
.dream-team {
  position: relative;
  align-content: flex-start;
  gap: 12px;
  height: 100%;
  padding: 12px;
  padding-bottom: 120px;
  z-index: 1;
  .dream-team__left,
  .dream-team__right {
    width: 100%;
    max-width: calc(50% - 24px);
  }
}
