.tools-grids {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: stretch;
  gap: 8px;
  width: 100%;
}

.tools-grid {
  flex: 1 1 240px;
  display: block;
  padding: 12px;
  background-color: rgba(255, 255, 255, 0.4);
  border-radius: 5px;
  .tool-card {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: center;
    gap: 12px;
    width: 100%;
  }
}
